Description=Run keyboard event processor service.

[Service]
Type=oneshot
# Выполнить эту команду при запуске сервиса.
ExecStart=/root/scripts/mysqld-tmpfs start
# Выполнить эту команду при остановке сервиса.
ExecStop=/root/scripts/mysqld-tmpfs stop

RemainAfterExit=no