[Desktop Entry]
Type=Application
Exec=/home/vchs/Dropbox/Settings/keyb-processor/autostart/run_keyb_in_terminal-home.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[ru]=/home/vchs/Dropbox/Settings/keyb-processor/autostart/run_keyb_in_terminal-home.sh
Comment[ru]=Описание отсутствует
X-GNOME-Autostart-Delay=0
